.info_container{
    background-image: url(/static/images/capa2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 1000px;
    height: 580px;
    margin: 0 auto;
}
.info h1{
    font-family: Orbitron;
    text-align: center;
    color: #3cff00;
    font-size: 25px;
    padding: 50px;
}
.info h2{
    padding: 50px;
    font-family: Orbitron;
    text-align: center;
    color: rgb(60, 255, 0);
    font-size: 20px;
}
.info h3{
    font-family: Orbitron;
    text-align: center;
    color: rgb(60, 255, 0);
    font-size: 20px;
}
