/*Linha de código css Base do header e body*/
.honk-fontezinhah1 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.orbitron-fonteh2 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.logo img{
    position: absolute;
    width: 400px;
    height: 250px;
    top: 30px;
    margin-left: -20px;
    background-color: transparent;
}
.inicio h1{
    margin-top: 160px;
    font-family: Honk;
    font-size: 150px;
    text-align: center;
    color: rgb(99, 22, 150);
    text-shadow: 20px 20px 25px #913f83;
}
.inicio h2{
    font-family: Orbitron;
    text-align: center;
    margin-top: -55px;
    padding-bottom: 14px;
    color: #e4e408;
    text-shadow: 0px 0px 40px #f8f800;
}
.inicio h3{
    padding-bottom: 100px;
    font-family: Honk;
    font-size: 50px;
    text-align: center;
    color: #e2e28d;
    text-shadow: 5px 5px 10px #777718;
}
body{
    background-image: linear-gradient(rgba(74, 1, 122, 0.493), rgba(34, 0, 56, 0.39), rgba(36, 2, 75, 0.705)), url(../images/capa_body.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*Fim do Header e do Body padrão*/
