/*Linha de código css Base do header e body*/
.honk-fontezinhah1 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.orbitron-fonteh2 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.logo img{
    position: absolute;
    width: 400px;
    height: 250px;
    top: 20px;
    left: 0px;
    background-color: transparent;
}
.inicio h1{
    margin-top: 2;
    font-family: Honk;
    font-size: 150px;
    text-align: center;
    color: rgb(99, 22, 150);
    text-shadow: 20px 20px 25px #913f83;
}
.inicio h2{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 14px;
    color: #e2e28d;
    text-shadow: 5px 5px 10px #777718;
}
.inicio h3{
    padding-bottom: 100px;
    font-family: Orbitron;
    font-size: 35px;
    text-align: center;
    color: #e2e28d;
    text-shadow: 5px 5px 10px #777718;
}
body{
    background-image: url(../images/capa_body.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*Fim do Header e do Body padrão*/
/* Linha de código css da mainPage sahurproducts */
section.products h2{
    color: #ff00ff;
    text-shadow: 5px 5px 10px rgb(176, 57, 180);
}
section.products p{
    color: #ff00ff;
    text-shadow: 5px 5px 10px rgb(176, 57, 180);
}
section.products{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 8px; 
  padding: 5px;
  width: 100%;
  margin: 0 auto;
}
section.products .carroselProducts{
    margin: 0;
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 1px solid #777718;
    border-radius: 10px;
    background-color: #ff00ff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
section.nex
section.products .imagesContainer{
    margin: 20px;
    position: relative;
    width: 400px;
    height: 400px;

}