/*Linha de código css Base do header e body*/
.honk-fontezinhah1 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.orbitron-fonteh2 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.logo img{
    position: absolute;
    width: 400px;
    height: 250px;
    top: 30px;
    margin-left: -20px;
    background-color: transparent;
}
.inicio h1{
    margin-top: 120px;
    font-family: Honk;
    font-size: 150px;
    text-align: center;
    color: rgb(99, 22, 150);
    text-shadow: 20px 20px 25px #913f83;
}
.inicio .subtitulo a{
    font-family: Orbitron;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 14px;
    color: #e4e408;
    text-shadow: 0px 0px 40px #f8f800;
     display: inline-block;
}
.inicio .subtitulo{
   margin-top: -50px;
   text-align: center;
}
.inicio .subtitulo .bi-info-circle-fill{
    color: rgb(255, 244, 244);
}

.inicio .subtitulo a:hover{
    text-shadow: 0 0 30px #00ff00;
    color: #00ff00;
}
.bi{
    margin-left: 5px;
}
.menu_navegacao li a .bi-whatsapp{
    color: #00ff00;
}
.menu_navegacao li a .bi-person-circle{
    color: rgb(92, 235, 235);
}
.menu_navegacao li a .bi-cart-fill{
    color: darkorange;
}

.inicio h3{
    padding-bottom: 100px;
    font-family: Honk;
    font-size: 50px;
    text-align: center;
    color: #e2e28d;
    text-shadow: 5px 5px 10px #777718;
}
body{
    background-image: linear-gradient(rgba(74, 1, 122, 0.493), rgba(34, 0, 56, 0.39), rgba(36, 2, 75, 0.705)), url(../images/capa_body.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.menu_navegacao {
    font-family: Orbitron;
    font-weight: 500;
    display: block;
    margin-top: 47px;
    text-align: center;
}


.menu-list {
    display: flex;
    list-style: none; 
    padding: 0;
    margin: 0;
    justify-content: center;
}

.menu-list li {
    margin-left: 20px; 
}
.menu_navegacao a {
    color: rgb(255, 251, 0); 
    text-shadow: 0 0 17px rgb(139, 139, 6);
    text-decoration: none; 
    transition: color 0.3s; 
    font-size: 30px;
}

.menu_navegacao :hover {
    text-shadow: 0 0 30px #00ff00;
    color: #00ff00;
}

